* {
    margin: 0;
    padding: 0;
}
.body1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:  linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(216, 216, 216, 0.49)), url(./bg.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cha{
   width: 100vw;
   height: 2400px;
   /* background-color: crimson; */
   justify-content: center;
}
.header{
    width: 100vw;
    height: 75px;
    display: flex;
    border-bottom: solid 1px gray;
}
.main-left{

    width: 60%;
    height: 75px;
    display: flex;
    align-items: center;
}
.main-right{
    width: 40%;
    height: 75px;
    display: flex;
}
.logo{
    width: 30%;
    height: 60px;
}
.i1{
    width: 50%;
    height: 100%;
}
.space{
    width: 10%;
    height: 60px;
}
.menu{
    justify-content: center;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    border: solid black 2px;
    margin-left: -40px;
    display: flex;
    background-color: green;

}
div.menu a{
    justify-content: center;
    padding-left: 35px;
    padding-top: 15px;
    color: black;
    font-weight: bold;
    margin-left: -30px;
}
div.menu:hover{
    background-color: green;
    text-decoration: underline black;
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
.christmas-items{
    justify-content: center;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    border: solid black 2px;
    margin-left: 40px;
    display: flex;
}
div.christmas-items a{
    justify-content: center;
    padding-left: 35px;
    padding-top: 15px;
    color: black;
    font-weight: bold;
    align-items: center;
    margin-left: -30px;
}
div.christmas-items:hover{
    background-color: rgb(0, 218, 29);
    text-decoration: underline black;
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
.game{
    justify-content: center;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    border: solid black 2px;
    margin-left: 40px;
    display: flex;
}
div.game a{
    justify-content: center;
    padding-left: 35px;
    padding-top: 15px;
    color: black;
    font-weight: bold;
    margin-left: -30px;
}
div.game:hover{
    background-color:rgb(0, 255, 157);
    text-decoration: underline  `
  transition: background .55s ease;
}
.search-box{
   margin-top: 12px;
}
.container-1{
    width: 250px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
.container-1 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }
  .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }
  .container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: gainsboro;
  }
  .container-1 input#search:focus, .container-1 input#search:active{
    outline:none; 
}
 
.container-1:hover .icon{
  margin-top: 16px;
  color: #93a2ad;
 
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* IE 9 */
  -o-transform:scale(1.5); /* Opera */
   transform:scale(1.5);
  }
.user{
    width: 20px;
    margin-left: 70px;
    align-items: center;
    display: flex;
    font-size: x-large;
}
.user:hover{
    transform: scale(1.5);
    color: gold;
    transition: color .65s ease;
}
.heart{
    width: 20px;
    margin-left: 40px;
    align-items: center;
    display: flex;
    font-size: x-large;
}
.heart:hover{
    transform: scale(1.5);
    color: red;
    transition: color .65s ease;
}
.mar{
    width: 20px;
    margin-left: 40px;
    align-items: center;
    display: flex;
    font-size: x-large;
}
.mar:hover{
    transform: scale(1.5);
    color: green;
    transition: color .65s ease;
}
.slide{
    width: 90vw ;
    height: 400px;
    /* background-color: red ; */
   margin-left: 60px;
   margin-top: 40px;
   box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
   0 2px 2px rgba(0,0,0,0.12), 
   0 4px 4px rgba(0,0,0,0.12), 
   0 8px 8px rgba(0,0,0,0.12),
   0 16px 16px rgba(0,0,0,0.12);
}
* {box-sizing:border-box}
/* thiết lập style cho slideshow container */
 .slideshow-container {
   max-width: 100%;
   max-height: 500px;
   position: relative;
   margin: auto;
 }
/* ẩn hình ảnh cho phần tử slideshow */
 .mySlides {
   display: none;
 }
/* thiết kế nút mũi tên*/
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
/* thiết kế nút mũi tên next nằm phía bên phải */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }
/* Thiết lập style cho nội dung của mỗi phần tử slideshow */
 .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }
/* Thiết lập style cho số hiển thị của phần tử */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
/* thiết lập style  nút tròn điều khiển*/
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
.active, .dot:hover {
   background-color: #717171;
 }
/* tạo hiệu ứng chuyển động fade */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 10s;
   animation-name: fade;
   animation-duration: 2s;
 }
@-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
.imgmain{
  width: ;
  height: 400px;
 }
.mathang{
  width: 90vw ;
    height: 600px;
    margin-top: 50px ;
    margin-left: 60px;
    display: block;
    
}
.mathangheader{
  width: 100%;
  height: 20%;
  display:flex;
}
.mathangitem{
  width: 100%;
  height: 80%;
  display: flex;
}
.mathangitem div{
  margin-left: 200px;
}
.mathangheader1{
  /* margin-left: 200px; */
  margin-top: 20px;
}
.container{
   width: 100px;
   height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.countdown{
  display: flex;
   height: 20px;
}

.countdown div{
  position: relative;
  width: 100px;
  height: 50px;
  line-height: 100px;
  text-align: center;
  background: #333;
  color: #fff;
  margin: 0 15px;
  font-size: 3em;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}
.countdown div:before{
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 255, 89);
  color: #dddddd;
  font-size: 0.35em;
  line-height: 35px;
}

.countdown #day:before{
  content: ' 10 Ngày';
}
.countdown #hour:before{
  content: ' 12 Giờ';
}
.countdown #minute:before{
  content: ' 39 Phút';
}
.countdown #second:before{
  content: ' 82 Giây';
}
.p1{
  color: green;
  font-size: 75px;
  font-weight: bold;
  margin-top: 20px;
}
.p2{
  margin-top: 20px;
  color: gold;
  font-size: 75px;
  margin-left: 10px;
  font-weight: bold;
}
.mathangitem div{
  width: 20%;
  height: 90%;
  line-height: 100px;
  margin-left: 60px;
  margin-top: 15px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
  display: inline-block;
}
.cup:hover{
  transform: scale(1.1);
  -webkit-animation-name: fade;
   -webkit-animation-duration: 2s;
   transition-duration: 1s;
   animation-name: fade;
   animation-duration: 1s;
   box-shadow: 0 0 30px goldenrod ;
}
.socks:hover{
  transform: scale(1.1);
  -webkit-animation-name: fade;
   -webkit-animation-duration: 2s;
   transition-duration: 1s;
   animation-name: fade;
   animation-duration: 1s;
   box-shadow: 0 0 30px goldenrod ;
}
.box:hover{
  transform: scale(1.1);
  -webkit-animation-name: fade;
   -webkit-animation-duration: 2s;
   transition-duration: 1s;
   animation-name: fade;
   animation-duration: 1s;
   box-shadow: 0 0 30px goldenrod ;
}
.candy:hover{
  transform: scale(1.1);
  -webkit-animation-name: fade;
   -webkit-animation-duration: 2s;
   transition-duration: 1s;
   animation-name: fade;
   animation-duration: 1s;
   box-shadow: 0 0 30px goldenrod ;
}
.img2{
  width: 100%;
  height: 70%;
}
/* them cac item flex tuong tu */
.cup{
  display: inline-block; 
  width: 100%;
  height: 100%;
  margin-left: 100px;
}
.cupfakeprice{
  text-decoration: line-through;
  color: #93a2ad;
}
.cupheader{
  font-weight: 1000;
  font-size: x-large;
}
.mathangitem p{
  margin-top: -75px;
  margin-left: 5px;
}
.cupprice{
  font-weight: 1000;
  margin-top: 30px;
}
.prev1, .next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next1{
  margin-right: 00px;
}
.prev1{
  margin-left: 100px;
}
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-top: 550px;
  margin-right: 70px;box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}
.prev1{
  border-radius: 3px 0 0 3px;
  margin-top: 550px;
  margin-left: 18px;box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
.prev1:hover, .next1:hover {
  background-color: white;
}
.imgsale{
  width: 400px;
  height: 400px;
  background-color: aqua;
  margin-left: 300px;
  background: linear-gradient(to bottom, rgba(45, 50, 46, 0.52), rgba(48, 92, 130, 0.49)), url(./A-guide-to-water-conservation-methods-and-its-importance-FB-1200x700-compressed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  padding-top: 165px;
  padding-left: 50px;
}
.imgsalebutton{
  height: 70px;
  width: 120px;
  border: solid white 5px;
  border-radius: 10px;
  margin-left: 100px;
  display: flex;
  /* background-color: coral; */
}
.imgsalebuttonp{
  font-weight: 1000;
  font-size: larger;
  text-align: center;
  margin-top: 20px;
  color: white;
  margin-left: 20px;
}
.imgsaletop{
  display: flex;
  width: 100%;
  height: 50%;
}
.imgsalebutton2{
  height: 70px;
  width: 120px;
  border: solid white 5px;
  border-radius: 10px;
  margin-left: 100px;
  /* background-color: coral; */
  display: flex;
}
.imgsalebuttonp1{
  font-weight: 1000;
  font-size: larger;
  text-align: center;
  margin-top: 20px;
  color: white;
  margin-left: 35px;
}
.imgsalebuttonp2{
  font-weight: 1000;
  font-size: larger;
  text-align: center;
  margin-top: 20px;
  color: white;
  margin-left: 25px;
}
.imgsale2{
  width: 400px;
  height: 400px;
  background-color: aqua;
  margin-left: 80px;
  background: linear-gradient(to bottom, rgba(70, 252, 64, 0.52), rgba(65, 64, 64, 0.49)), url(./plants.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  padding-top: 165px;
  padding-left: 50px;
}
.imgsale2:hover{
  transform: scale(1.1);
  transition-duration: 2s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
   animation-duration: 2s;

}
.imgsale:hover{
  transform: scale(1.1);
  transition-duration: 2s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
   animation-duration: 2s;

}
.imgsale3{
  width: 400px;
  height: 400px;
  background-color: aqua;
  background: linear-gradient(to bottom, rgba(71, 161, 78, 0.856), rgba(129, 125, 125, 0.49)), url(./z4214820302539_7a806bae59e1b3b963aab6aa75ea93f2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  padding-top: 165px;
  padding-left: 50px;
  margin-top: -750px;
  margin-left: 550px;
}
.imgsale3:hover{
  transform: scale(1.1);
  transition-duration: 2s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
   animation-duration: 2s;
}
.footer{
  height: 280px;
  width: 100%;
  background-color: rgb(0, 134, 65);
  margin-top: -250px;
  display: flex;
}
.inf{
  font-weight: 900px;
  font-size: 30px;
  color: #fff;
}
.s1{
  line-height: 30px;
  margin-left: 50px;
  margin-top: 30px;
  text-align: center;
}
.s1 h4{
  margin-top: 10px;
}
.s2{
  line-height: 30px;
  margin-left: 100px;
  margin-top: 30px;
  text-align: center;
}
.s3{
  line-height: 30px;
  margin-left: 100px;
  margin-top: 30px;
  text-align: center;
}
.s4{
  line-height: 30px;
  margin-left: 100px;
  margin-top: 30px;
  text-align: center;
  display: flex;
}
.s4 img{
  margin-left: 60px;
  margin-top: 50px;
}
.fa-solid{
  color: black;
}
