* {
    margin: 0;
    padding: 0;
}
.body1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:  linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(216, 216, 216, 0.49)), url(./bg2.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cha{
   width: 100vw;
   height: 2400px;
   /* background-color: crimson; */
   justify-content: center;
}
.header{
    width: 100vw;
    height: 75px;
    display: flex;
    border-bottom: solid 1px gray;
}
.main-left{

    width: 60%;
    height: 75px;
    display: flex;
    align-items: center;
}
.main-right{
    width: 40%;
    height: 75px;
    display: flex;
}
.logo{
    width: 30%;
    height: 60px;
}
.i1{
    width: 50%;
    height: 100%;
}
.space{
    width: 10%;
    height: 60px;
}
.menu{
    justify-content: center;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    border: solid black 2px;
    margin-left: -40px;
    display: flex;
    background-color: rgb(0, 114, 227);

}
div.menu a{
    justify-content: center;
    padding-left: 35px;
    padding-top: 15px;
    color: black;
    font-weight: bold;
    margin-left: -30px;
}
div.menu:hover{
    background-color: rgb(23, 43, 116);
    text-decoration: underline black;
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
.christmas-items{
    justify-content: center;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    border: solid black 2px;
    margin-left: 40px;
    display: flex;
}
div.christmas-items a{
    justify-content: center;
    padding-left: 35px;
    padding-top: 15px;
    color: black;
    font-weight: bold;
    align-items: center;
    margin-left: -30px;
}
div.christmas-items:hover{
    background-color: rgb(0, 166, 255);
    text-decoration: underline black;
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
.game{
    justify-content: center;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    border: solid black 2px;
    margin-left: 40px;
    display: flex;
}
div.game a{
    justify-content: center;
    padding-left: 35px;
    padding-top: 15px;
    color: black;
    font-weight: bold;
    margin-left: -30px;
}
div.game:hover{
    background-color:rgb(0, 225, 255);
    text-decoration: underline  `
  transition: background .55s ease;
}
.search-box{
   margin-top: 12px;
}
.container-1{
    width: 250px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
.container-1 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }
  .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }
  .container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: gainsboro;
  }
  .container-1 input#search:focus, .container-1 input#search:active{
    outline:none; 
}
 
.container-1:hover .icon{
  margin-top: 16px;
  color: #93a2ad;
 
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* IE 9 */
  -o-transform:scale(1.5); /* Opera */
   transform:scale(1.5);
  }
.user{
    width: 20px;
    margin-left: 70px;
    align-items: center;
    display: flex;
    font-size: x-large;
}
.user:hover{
    transform: scale(1.5);
    color: gold;
    transition: color .65s ease;
}
.heart{
    width: 20px;
    margin-left: 40px;
    align-items: center;
    display: flex;
    font-size: x-large;
}
.heart:hover{
    transform: scale(1.5);
    color: red;
    transition: color .65s ease;
}
.mar{
    width: 20px;
    margin-left: 40px;
    align-items: center;
    display: flex;
    font-size: x-large;
}
.mar:hover{
    transform: scale(1.5);
    color: green;
    transition: color .65s ease;
}
.cont{
    width: 100vw;
    height: 900px;
    background-color:  linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(216, 216, 216, 0.49));
}
.video{
    background-color:  linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(4, 4, 4, 0.49));
}
.char{
    margin-top: -20px;
    width: 100%;
    height: 600px;
    background-image:  linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(216, 216, 216, 0.49)), url(./bg2-1.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
.char div{
    width: 20%;
    height: 80%;
    background-color:rgb(31, 31, 110);
    opacity: 0.8;
    margin-left: 148px;
    margin-top: 60px;
}
h1:hover{
   color: dodgerblue;
}
.abc div:hover{
    background-color: rgb(99, 176, 254);
     transform: rotateZ(360deg);
     transition-duration: 2s;
     font-size: larger;
}